body {
    font-family: 'Cinzel Decorative', serif;
    margin: 20px;
    background-color: #b68316;
}
h1 {
    color: #c1eb09;
}
p {
    font-family: 'IM Fell English SC', serif;
    color: aqua;
    line-height: 1.6;
}
h2 {
    color: #c1eb09;
}
ul {
    font-family: 'IM Fell English SC', serif;
    list-style-type: square;
    color: aqua;
}
img {
    margin-top: 20px;
    border: 2px solid #3013d8;
    border-radius: 30px;
}
.hobby-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
@media (min-width: 600px) {
    .hobby-wrapper {
        flex-direction: row;
        align-items: flex-start;
    }
}